<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="command" value="flash.cmd" />  <!--Value to be set to the executable to run, can specify full qualified pathnames. i.e. cmd.exe or C:\Windows\System32\cmd.exe-->
    <add key="switches" value="/quiet/ /ign" />  <!--Switches and additional arguments to be added to the executable. i.e. ipconfig or ipconfig /all-->
    <add key="initialTime" value="1800" />   <!--The initial time for the timer in seconds i.e. 1800 (30 minutes)-->
    <add key="warningTime" value="300" />  <!--The time threshold for when the window will reappear for the user to alert them of a remaining amount of time left. In seconds i.e. 300 (5 minutes)-->
    <add key="deferTime" value="3600" />  <!--The time added each time the Defer button is selected. i.e. 3600 (1 hour)-->
  </appSettings>
</configuration>